@import 'vars';

// @import 'bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

figure {
  margin: auto;
}

header {
  text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #020202;
  stroke-width: 1px;
}

.bar {
  &:hover {
    fill: green
  }
}
